button {
  @include easeout;
  cursor: pointer;
}

.c-btn {
  -webkit-appearance: none;
  text-decoration: none;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  background-color: $cb-background;
  color: $c-brand;
  font-family: $ff-primary-black;
  font-weight: normal;
  @include fsz(14px);
  line-height: 1.142;
  padding: 24px 60px 21px;
  @include easeout;
  letter-spacing: -0.4px;
  pointer-events: all;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;

  span {
    // background-color: $c-primary;
    position: absolute;
    left: 0;
    overflow: hidden;
    height: 100%;
    top: 0;
    z-index: -2;
    width: 100%;

    &:after,
    &:before {
      content: "";
      height: 106%;
      width: 100%;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      transform: skewY(168deg);
      background-color: $c-primary;
      transition: transform 1s cubic-bezier(0.2, 1, 0.3, 1);
    }

    &:after {
      transform-origin: left top;
      transform: skewY(168deg) translateY(-100%);
    }

    &:before {
      transform-origin: right bottom;
      transform: skewY(168deg) translateY(100%);
    }
  }

  @media screen and(max-width: 767px) {
    padding: 19px 40px 16px;
  }

  .icon {
    margin-right: 10px;
  }

  &:after,
  &:before {
    content: "";
    height: 10px;
    width: 10px;
    background-color: transparent;
    position: absolute;
    z-index: -1;
    display: block;
    border-color: $cb-border;
    border-style: solid;
    transition: all 600ms cubic-bezier(0.2, 1, 0.3, 1);
  }

  &:after {
    left: 0;
    top: 0;
    border-width: 2px 0 0 2px;
  }

  &:before {
    bottom: 0;
    right: 0;
    border-width: 0 2px 2px 0;
  }

  &:hover,
  &:focus {
    color: $c-brand;

    &:after,
    &::before {
      height: 100%;
      width: 100%;
      border-color: $c-brand;
    }

    span {
      &:after {
        transform: translateY(0);
      }

      &:before {
        transform: translateY(0);
      }
    }
  }
}

.c-btn--light-dark {
  background: #323b42;
  color: #8ed2dc;

  &:after,
  &:before {
    border-color: $c-tertiary;
  }

  span {
    &:after,
    &:before {
      background-color: $c-tertiary;
    }
  }

  &:hover,
  &:focus {
    color: $c-brand;

    &:after,
    &::before {
      height: 100%;
      width: 100%;
      border-color: $c-primary;
    }

    span {
      &:after {
        transform: translateY(0);
      }

      &:before {
        transform: translateY(0);
      }
    }
  }
}

.c-btn--dark {
  background: $c-brand;
  color: #8ed2dc;

  &:after,
  &:before {
    border-color: $c-tertiary;
  }

  span {
    &:after,
    &:before {
      background-color: $c-tertiary;
    }
  }

  &:hover,
  &:focus {
    color: $c-brand;

    &:after,
    &::before {
      height: 100%;
      width: 100%;
      border-color: $c-primary;
    }

    span {
      &:after {
        transform: translateY(0);
      }

      &:before {
        transform: translateY(0);
      }
    }
  }
}

.c-btn--dark-alt {
  background: $c-brand;
  color: $c-tertiary;

  &:after,
  &:before {
    border-color: $c-tertiary;
  }

  span {
    &:after,
    &:before {
      background-color: $c-tertiary;
    }
  }

  &:hover,
  &:focus {
    color: $c-brand;

    &:after,
    &::before {
      height: 100%;
      width: 100%;
      border-color: $c-primary;
    }

    span {
      &:after {
        transform: translateY(0);
      }

      &:before {
        transform: translateY(0);
      }
    }
  }
}

.c-btn--light {
  background: $c-secondary;
  color: $c-brand;

  span {
    &:after,
    &:before {
      background: #323b42;
    }
  }

  &:hover,
  &:focus {
    color: $c-primary;

    &:after,
    &:before {
      border-color: $c-primary;
    }
  }
}

.c-btn--disabled {
  pointer-events: none;
  opacity: .5;
  cursor: default;
  user-select: none;
}
