input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="range"],
input[type="url"],
input[type="week"],
input:not([type]),
textarea,
select {
  border: 1px solid $cf-border;
  background-color: rgba($cf-input, .4);
  border-radius: 0;
  box-shadow: none;
  color: $c-brand;
  letter-spacing: -0.5px;
  font-family: $ff-primary;
  @include fsz(20px);
  line-height: 1;
  padding: 0 25px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 60px;

  .has-error & {
    border-color: $c-error;
  }

  &:active,
  &:focus {
    background-color: $cf-input-focus;
    border-color: $cf-border-focus;
    outline: none;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);

    .has-error & {
      border-color: $c-error;
    }
  }

  &::placeholder {
    font-family: $ff-primary;
    color: rgba($c-brand, 0.25);
    letter-spacing: -0.5px;
    line-height: 1.4;

    .has-error & {
      border-color: $c-error;
    }
  }
}

textarea {
  width: 100%;
  height: 180px;
  vertical-align: top;
  padding: 17px 25px;

  &:focus {
    color: $cf-text-focus;
  }
}

select {
  color: rgba($c-brand, 0.25);
  appearance: none;
  background: rgba($cf-input, .4) url("data:image/svg+xml,%0A%3Csvg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L9 9L17 1' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat calc(100% - 27px) 50%;
  padding: 0 55px 0 25px;

  option {
    color: rgba($c-brand, 1);
  }
}

.c-form__group {
  width: 100%;
  margin-bottom: clamp(20px, 4vw, 40px);
}

.c-form__label {
  width: 100%;
  display: block;
  @include fsz(15px);
  @include line-height(15px, 23px);
  color: $c-brand;
  margin-bottom: 5px;
}

.error-message {
  color: $c-error;
  width: 100%;
  display: block;
  @include fsz(15px);
  @include line-height(15px, 23px);
  margin-top: 5px;
}

.selected {
  color: $c-brand;
}

.success-message {
  padding: 1em 1.2em;
  background-color: $c-secondary;
  width: 100%;
  display: block;
  @include fsz(20px);
  font-family: $ff-primary;
  letter-spacing: -0.5px;
  color: $c-brand;
  border-left: 5px solid $c-primary;
  margin-top: 1em;
}

.faild-message {
  padding: 1em 1.2em;
  background-color: $c-error;
  width: 100%;
  display: block;
  @include fsz(20px);
  font-family: $ff-primary;
  letter-spacing: -0.5px;
  border-left: 5px solid $c-brand;
  color: $c-white;
  margin-top: 1em;
}
