.c-service-partner {
  background-color: $c-secondary;
  padding: 120px 0 60px;
  @media screen and (max-width: 1024px) {
    padding: 80px 0 0;
  }
}

.c-service-partner--alt {
  padding-top: 30px;
}

.c-service-partner__header {
  max-width: 810px;
  margin: 0 auto 60px;
  width: 100%;
  text-align: center;
  @media screen and (max-width: 1024px) {
    margin-bottom: 30px;
  }
}

.c-service-partner__heading {
  font-size: clamp(3.125rem, 8vw, 5.9375rem);
  font-family: $ff-primary-black;
  font-weight: normal;
  display: inline-block;
  vertical-align: top;
  letter-spacing: -6px;
  line-height: 1;
  position: relative;
  z-index: 1;
  color: $c-brand;
  margin-bottom: 40px;
  @media #{$tablet} {
    margin-bottom: 20px;
  }
  @media #{$phone} {
    letter-spacing: -3.3px;
  }

  &:after {
    content: attr(title);
    position: absolute;
    top: 0;
    color: transparent;
    z-index: -2;
    display: inline-block;
    vertical-align: top;
    left: 0;
    transform: translate(5px, 5px) translateZ(0);
    backface-visibility: hidden;
    @include letter-stroke(rgba($c-primary, 0.5), 1px);

    @media #{$phone} {
      transform: translate(3px, 3px) translateZ(0);
    }
  }
}

.c-service-partner__description {
  @include fsz(26px);
  line-height: 1.615;
  letter-spacing: -0.5px;


  @media #{$phone} {
    @include fsz(20px);
  }

  p {
    margin-bottom: 42px;
    @media #{$phone} {
      margin-bottom: 32px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.c-service-partner__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -20px;
  @media screen and (max-width: 1024px) {
    margin: 0 -15px;
  }
  @media #{$tablet} {
    margin: 0 -10px;
  }

}

.c-service-partner__item {
  width: 33.33%;
  padding: 0 20px;
  @media screen and (max-width: 1024px) {
    padding: 0 15px;
  }
  @media #{$tablet} {
    padding: 0 10px;
  }
  @media screen and (max-width: 767px) {
    width: 50%;
    margin-bottom: 20px;
  }
  @media #{$phone}{
    width: 100%;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.c-service-partner__card {
  overflow: hidden;
  position: relative;
  z-index: 1;
  min-height: 219px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: $c-white;
  padding: 30px 30px;
  box-shadow: 0 20px 30px rgba($c-black, .25);
  border-radius: 10px;
  overflow: hidden;
  transition: ease all .25s;
  @media screen and (max-width: 1024px) {
    padding: 30px;
  }
  @media #{$tablet} {
    padding: 30px 20px;
  }
  @media screen and (max-width: 767px) {

  }

  &:after {
    content: '';
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 65%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    position: absolute;
    display: block;
    background-size: cover;
    background-position: center top;
  }

  &:hover, &:focus {
    transition: ease all .25s;
    box-shadow: 0 35px 60px rgb(0 0 0 / 35%);

    .c-service-partner__title {
      bottom: 5px;
    }
  }

  a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}

.c-service-partner__label {
  @include fsz(20px);
  letter-spacing: -0.38px;
  font-family: $ff-primary-bold;
  font-weight: normal;
  line-height: 1.25;
  display: block;
}

.c-service-partner__title {
  color: $c-white;
  font-size: clamp(1.75rem, 3vw, 2.5rem);
  letter-spacing: -2px;
  line-height: 1;
  font-family: $ff-primary-bold;
  position: absolute;
  bottom: 0;
  transition: ease all .25s;
  @media #{$phone} {
    letter-spacing: -1px;
  }
}