.c-service-card {
  margin-bottom: 80px;
  @media #{$desktop} {
    margin-bottom: 60px;
  }
  @media #{$tablet} {
    margin-bottom: 40px;
  }
}

.c-service-card__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0 -25px;
  padding: 120px 0;
  position: relative;
  z-index: 1;
  @media #{$desktop} {
    padding: 80px 0;
  }
  @media #{$tablet} {
    padding: 60px 0;
  }
  @media screen and (max-width: 860px) {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 20px;
    padding-left: 0;
  }

  .c-service-card--right & {
    flex-direction: row-reverse;
    @media screen and (max-width: 860px) {
      flex-direction: column-reverse;
      padding-left: 20px;
      padding-right: 0;
    }
  }

  &:after {
    content: '';
    top: 0;
    bottom: 0;
    background-color: $c-white;
    position: absolute;
    z-index: -1;
    box-shadow: 0 30px 60px rgba($c-black, .1);

    .c-service-card--left & {
      right: 118px;
      left: -9999%;
      @media #{$tablet} {
        right: 20px;
      }
    }

    .c-service-card--right & {
      right: -9999%;
      left: 118px;
      @media #{$tablet} {
        left: 20px;
      }
    }
  }
}

.c-service-card__content {
  width: 54%;
  padding: 0 25px;
  @media screen and (max-width: 860px) {
    width: 100%;
  }
}

.c-service-card__title {
  margin-bottom: 40px;
  font-size: clamp(2.125rem, 6vw, 2.875rem);
  line-height: 1;
  max-width: 414px;
  letter-spacing: -2px;

  @media #{$phone} {
    margin-bottom: 30px;
    letter-spacing: -1px;
  }
}

.c-service-card__description {
  max-width: min(850px, 100%);
  @include fsz(26px);
  line-height: 1.615;
  letter-spacing: -0.5px;


  @media #{$phone} {
    @include fsz(20px);
  }

  p {
    margin-bottom: 42px;
    @media #{$phone} {
      margin-bottom: 32px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.c-service-card__image {
  width: 46%;
  padding: 0 25px;
  @media screen and (max-width: 860px) {
    width: 100%;
    margin-bottom: 40px;
    max-width: 508px;
  }

  img {
    width: 100%;
  }
}