.c-service-intro {
  padding: 30px 0 80px;
  @media #{$phone} {
    padding-bottom: 60px;
  }
}

.c-service-intro__image {
  width: 100%;
  margin-bottom: 20px;

  img {
    max-width: 250px;
  }
}

.c-service-intro__description {
  max-width: min(850px, 100%);
  @include fsz(26px);
  line-height: 1.615;
  letter-spacing: -0.5px;


  @media #{$phone} {
    @include fsz(20px);
  }

  p {
    margin-bottom: 42px;
    @media #{$phone} {
      margin-bottom: 32px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}