.c-twins-hero {
    padding: clamp(10.625rem, 15vw, 15.625rem) 0 clamp(3.625rem, 15vw, 15.625rem);
    background-color: $c-white;
  
    .container {
      max-width: 840px;
    }
  }
  
  .c-twins-hero__img {
    img {
      width: 100%;
    }
  }