.tl-edges {
  overflow: hidden !important;
}

.c-footer {
  position: relative;
  background-color: transparent;
  z-index: 1;
  padding: 60px 0;

  .l-container {
    position: relative;
    z-index: 6;
  }

  &:before {
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -2;
    background-color: $c-brand-secondary;
    display: block;
    position: absolute;
  }

  &:after {
    content: "";
    background-image: url("../images/texture.png");
    background-repeat: repeat;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
  }
}

.c-footer__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.c-footer__menu {
  padding-right: 10%;
  border-right: 1px solid rgba($c-white, .3);
}

.c-footer__nav {
  list-style: none;
  margin-bottom: 40px;

  li {
    margin-bottom: 15px;
    line-height: 1;

    a {
      @include fsz(14px);
      text-transform: uppercase;
      letter-spacing: 0.5px;
      font-family: $ff-primary-black;
      font-weight: normal;
      color: $c-white;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $c-tertiary;
      }
    }
  }

  [aria-current] {
    color: $c-primary;
  }
}

.c-footer__contact {
  margin-left: 10%;
  border: 1px dashed rgba($c-white, .3);
  border-radius: 10px
}

.c-footer__title {
  background-color: $c-tertiary;
  border-radius: 6px;
  @include fsz(14px);
  text-transform: uppercase;
  letter-spacing: .5px;
  padding: 5px 8px 4px;
}

.c-footer__copyright {
  @include fsz(14px);
  color: rgba($c-white, .5);
  margin: 0;
  @media #{$phone} {
    order: 2;
  }
}
