.tl-edges {
  overflow: hidden !important;
}

.c-footer {
  position: relative;
  background-color: transparent;
  z-index: 1;
  padding: 80px 0;

  .l-container {
    position: relative;
    z-index: 6;
  }

  &:before {
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -2;
    background-color: $c-brand-secondary;
    display: block;
    position: absolute;
  }

  &:after {
    content: "";
    background-image: url("../images/texture.png");
    background-repeat: repeat;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
  }

  @media #{$ipad} {
    padding: 60px 0;
  }

  @media #{$phone} {
    padding: 40px 0;
  }
}

.c-footer__wrap {
  display: flex;

  @media #{$ipad} {
    display: block;
    width: 100%;
  }
}

.c-footer__menu {
  padding: 20px 10% 20px 0;
  border-right: 1px solid rgba($c-white, 0.3);
  flex: 0 0 auto;

  @media #{$small-screen} {
    padding: 20px 5% 20px 0;
  }

  @media #{$ipad} {
    border: 0;
    padding: 0;
  }
}

.c-footer__nav {
  list-style: none;
  margin-bottom: 40px;

  @media #{$ipad} {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }

  li {
    margin-bottom: 15px;
    line-height: 1;

    @media #{$ipad} {
      margin: 0 10px 10px;

      &:first-child {
        margin-left: 0;
      }
    }

    @media #{$phone} {
      margin: 0 5px 10px;
    }

    a {
      @include fsz(14px);
      text-transform: uppercase;
      letter-spacing: 0.5px;
      font-family: $ff-primary-black;
      font-weight: normal;
      color: $c-white;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $c-tertiary;
      }

      @media #{$phone} {
        @include fsz(12px);
      }
    }
  }

  [aria-current] {
    color: $c-primary;
  }
}

.c-footer__contact {
  margin-left: 10%;
  margin-top: 12px;
  padding: 20px 0;

  .c-contact__body & {
    padding: 0;
  }

  @media #{$small-screen} {
    margin-left: 5%;
  }

  @media #{$ipad} {
    margin: 0;
    padding: 10px 0;

    .c-contact__body & {
      padding: 0;
    }
  }
}

.c-footer__contactInner {
  border: 1px dashed rgba($c-white, 0.3);
  border-radius: 10px;
  position: relative;
}

.c-footer__title {
  background-color: $c-tertiary;
  border-radius: 6px;
  @include fsz(14px);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 5px 8px 4px;
  display: inline-block;
  margin: 0;
  position: absolute;
  left: 25px;
  top: 0;
  transform: translateY(-50%);

  @media #{$phone} {
    left: 15px;
  }
}

.c-footer__copyright {
  @include fsz(14px);
  color: rgba($c-white, 0.5);
  margin: 0;

  @media #{$phone} {
    order: 2;
  }

  &.responsive {
    display: none;

    @media #{$ipad} {
      display: block;
    }
  }

  &.desktop {
    @media #{$ipad} {
      display: none;
    }
  }
}

.c-footer__contactWrap {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 25px 0;
  margin-top: 12px;

  @media #{$ipad} {
    margin-top: 0;
  }

  @media #{$phone} {
    padding: 30px 15px 0;
  }

  @media screen and (max-width: 780px) {
    display: block;
  }
}

.contactPerson {
  color: $c-white;
  font-style: normal;
  margin-bottom: 30px;
  width: 100%;
  display: flex;

  .c-contact__body & {
    color: $c-black;
    padding: 0;
    margin-bottom: 40px;
  }

  &:first-child {
    padding-left: 0;
    padding-bottom: 30px;
    border-bottom: 1px dashed rgba($c-white, 0.3);
  }

  &:last-child {
    padding-right: 0;
    border-bottom: 0;

    @media screen and (max-width: 780px) {
      padding-left: 0;
    }
  }

  a {
    color: $c-white;
    @include fsz(16px);
    position: relative;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    .c-contact__body & {
      color: $c-brand-secondary;
    }
    &:after {
      content: "";
      position: absolute;
      top: 100%;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: rgba($c-white, 0.25);
      transition: ease all 0.25s;

      .c-contact__body & {
        background-color: rgba($c-black, 0.25);
      }
    }

    &:hover,
    &:focus {
      .c-contact__body & {
        color: darken($c-primary, 30%);
      }

      &:after {
        background-color: $c-tertiary;
        transition: ease all 0.25s;

        .c-contact__body & {
          background-color: darken($c-primary, 30%);
        }
      }
    }
  }

  figure {
    margin: 0;
    margin-right: 10px;
    position: relative;

    @media #{$phone} {
      margin-bottom: 12px;
    }
  }

  @media screen and (max-width: 780px) {
    display: block;
    width: 100%;
    border-right: 0;
    border-bottom: 1px dashed rgba($c-white, 0.3);
    margin-bottom: 20px;
  }
}

.contactPerson__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media #{$phone} {
    text-align: center;
    justify-content: center;
  }
}

.contactPerson__image {
  max-width: 80px;

  .c-contact__body & {
    max-width: 120px;
  }
}

.contactPerson__name {
  color: $c-white;
  font-family: $ff-primary-bold;
  @include fsz(22px);
  letter-spacing: -1px;
  margin-bottom: 0;

  .c-contact__body & {
    color: $c-black;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  span {
    font-family: $ff-primary;
    opacity: 0.5;

    .c-contact__body & {
      opacity: 0.9;
    }
  }
}

.contactPerson__links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  @media #{$phone} {
    text-align: center;
    justify-content: center;
  }
}

.contactPerson__details {
  @media #{$phone} {
    width: 100%;
  }
}

.contactPerson__location {
  color: $c-brand;
  background-color: $c-white;
  font-family: $ff-primary-black;
  border-radius: 20px;
  padding: 1px 6px;
  @include fsz(16px);
  letter-spacing: -0.5px;
  position: absolute;
  bottom: -5px;
  line-height: 1;
  left: 50%;
  transform: translateX(-50%);
}

.c-footer__link {
  @include fsz(14px);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-family: $ff-primary-black;
  font-weight: normal;
  color: $c-white;
  text-decoration: none;
  margin-top: 36px;
  display: inline-block;
  line-height: 1.1;

  &:hover,
  &:focus {
    color: $c-tertiary;
  }

  @media screen and (max-width: 780px) {
    margin-top: 25px;
  }
}

.contactPerson__address {
  color: rgba($c-white, 0.5);
  font-style: normal;
  @include fsz(16px);
  display: block;
  margin-bottom: 11px;
  
  .c-contact__body & {
    color: rgba($c-brand-secondary, 0.5);
  }
}
