.c-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;

  &.show {
    display: flex;
  }

  &.hidden {
    display: none;
  }
}

.c-header__wrap {
  background-color: $c-brand;
  padding: 20px 15px 20px 30px;
  display: flex;
  align-items: center;
  @media #{$phone} {
    padding: 15px 15px 15px 20px;
  }
}

.c-header__logo {
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 1;
  margin-right: 46px;

  @media #{$phone} {
    margin-right: 35px;
    max-width: 35px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: -31px;
    width: 1px;
    z-index: 1;
    background-color: rgba($c-white, .5);

    @media #{$phone} {
      top: 5px;
      bottom: 5px;
      right: -27px;
    }
  }
}

.c-header__ico-menu {
  height: 70px;
  width: 70px;
  border: none;
  border-radius: 0;
  background-color: transparent;
  padding: 3px 0 0;
  transition: none;
  color: $c-white;

  .icon-menu {
    height: 25px;
    width: 40px;
  }

  &:hover,
  &:focus {
    box-shadow: none;
    background-color: transparent;
  }
}

.c-main-nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  right: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-y: auto;
  padding: 120px 40px;
  overflow-x: hidden;
  pointer-events: all;
  background-color: $c-brand;
  clip-path: inset(0% 0% 0% 100%);

  .content-loaded & {
    pointer-events: none;
  }

  &.is-active {
    pointer-events: all;
  }

  @media #{$small-screen} {
    padding: 130px 12px 40px;
  }
  @media #{$phone} {
    padding: 130px 0 40px;
    align-items: flex-start;
  }

  .l-container {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media #{$small-screen} {
    }

    @media #{$phone} {
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }
}

.main-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 64%;

  @media #{$phone} {
    width: 100%;
    margin-bottom: 40px;
  }

  li {
    line-height: 1;
    opacity: 0;

    &:not(:last-child) {
      margin-bottom: 22px;
    }

    a {
      font-size: clamp(3.5rem, 10vw, 6.8rem);
      text-decoration: none;
      font-family: $ff-primary-black;
      font-weight: normal;
      color: $c-white;
      display: inline-block;
      vertical-align: top;
      letter-spacing: clamp(-0.103125rem, 10vw, -1.003125rem);
      @include line-height(150px, 120px);
      position: relative;
      z-index: 1;
      @media screen and (min-width: 1024px) and (max-width: 1200px) {
        font-size: 5.375rem;
      }

      &:hover,
      &:focus {
        &:after {
          opacity: 1;
          transform: translate(6px, 6px) translateZ(0);

          @media #{$phone} {
            transform: translate(3px, 3px) translateZ(0);
          }
        }
      }

      &:after {
        content: attr(title);
        position: absolute;
        top: 0;
        color: transparent;
        z-index: -1;
        display: inline-block;
        vertical-align: top;
        left: 0;
        transform: translate(0) translateZ(0);
        backface-visibility: hidden;
        @include letter-stroke($c-primary, 1px);
        opacity: 0;
        transition: transform 300ms ease, opacity 300ms ease;
      }
    }

    [aria-current] {
      &:after {
        transform: translate(6px, 6px) translateZ(0);
        opacity: 1;
        @media #{$phone} {
          transform: translate(3px, 3px) translateZ(0);
        }
      }
    }
  }
}

[aria-current="page"] {
  pointer-events: none;
}

.main-nav__contact {
  list-style: none;
  text-align: right;
  width: 34%;

  @media #{$phone} {
    width: 100%;
    text-align: left;
  }

  li {
    line-height: 1;
    opacity: 0;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    a {
      @include fsz(20px);
      @include letter-spacing(-50, 20px);
      color: $c-white;
      font-family: $ff-primary;
      display: inline-block;
      vertical-align: top;
      text-decoration: none;
      @include line-height(20px, 24px);

      &:hover,
      &:focus {
        color: $c-primary;
      }
    }
  }
}

.c-main-nav__menu-close {
  height: 70px;
  width: 70px;
  border: 1px solid rgba(#f5f6ef, 0.15);
  background-color: transparent;
  color: rgba(#f5f6ef, 0.75);
  padding: 3px 0 0;
  position: absolute;
  top: 32px;
  left: 32px;
  border-radius: 50%;
  opacity: 0;

  @media #{$phone} {
    top: 25px;
    height: 53px;
    width: 53px;
    left: 20px;
  }

  .icon-close {
    height: 30px;
    width: 30px;

    @media #{$phone} {
      height: 22px;
      width: 22px;
    }
  }

  &:hover,
  &:focus {
    color: rgba(#f5f6ef, 1);
    border-color: rgba(#f5f6ef, 0.5);
    background-color: transparent;
  }
}
