.c-about-intro {
    background-color: $c-secondary;
    padding-bottom: 95px;
    overflow: hidden;
    margin-top: -11px;
    position: relative;
    z-index: 3;

    .l-container {
        max-width: 1440px;
        padding: 0;
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: flex-start;

        @media #{$phone} {
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
    }

    .c-about-intro__col {
        width: calc(50% - 15px);
        position: relative;
        @media #{$phone} {
            width: 100%;
        }
        &:first-child {
            padding-top: 31px;
            z-index: 1;
        }

        &:last-child {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            z-index: 2;
        }
    }

    .c-about-intro__description {
        padding: 64px 45px 38px 185px;
        font-size: clamp(1.6375rem, 3vw, 2.375rem);
        @include line-height(38px, 55px);
        color: $c-brand;
        letter-spacing: -1.8px;
        position: relative;
        z-index: 1;
        margin-bottom: 190px;

        @media #{$medium-screen} {
            margin-bottom: 120px;
        }

        @media #{$small-screen} {
            padding: 64px 15px 38px 60px;
        }
        @media #{$tablet} {
            margin-bottom: 50px;
            padding: 44px 15px 23px 20px;
        }

        @media #{$phone} {
            letter-spacing: -0.5px;
        }
        &:after {
            content: "";
            background-color: $c-white;
            right: 44.68%;
            height: 100%;
            top: 0;
            left: -9999%;
            display: block;
            position: absolute;
            z-index: -1;
        }

        &:before {
            content: "";
            background-color: transparent;
            right: calc(44.68% - 30px);
            top: 30px;
            height: 100%;
            left: -9999%;
            display: block;
            position: absolute;
            z-index: -2;
            border: 2px solid rgba($c-white, 0.5);
            @media #{$tablet} {
                right: calc(44.68% - 20px);
                top: 20px;
            }
        }
    }

    .c-about-intro__graphic-01 {
        margin-left: -8px;
        position: relative;
        z-index: 1;

        img {
            @media #{$tablet} {
                max-width: 320px;
            }
        }
        &:after {
            content: "";
            background-image: url("../images/texture.png");
            background-repeat: repeat;
            position: absolute;
            z-index: -1;
            top: 100%;
            left: -999%;
            bottom: -200%;
            right: -165px;
            display: block;
            @media #{$phone} {
                right: 20px;
            }
        
        }

        &:before {
            content: "";
            position: absolute;
            z-index: -2;
            top: 100%;
            left: -999%;
            bottom: -200%;
            right: -165px;
            display: block;
            background-color: #7abec8;
            @media #{$phone} {
                right: 20px;
            }
        }
    }

    .c-about-intro__graphic-02 {
        margin-right: -25px;

        img {
            @media #{$tablet} {
                max-width: 270px;
            }
        }
    }
    .c-about-intro__image {
        @media #{$phone} {
            padding: 0 0 0 20px;
        }
        .gatsby-image-wrapper {
            margin-bottom: -3px;
        }

        .c-about-intro__figcaption {
            @include fsz(14px);
            @include line-height(14px, 17px);
            color: $c-brand;
        }
    }
}
