.c-battigayo {
    padding: 54px 0 151px;
    position: relative;
    z-index: 1;
    background-color: $c-brand;

    &:after {
        content: "";
        background-image: url("../images/texture.png");
        background-repeat: repeat;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: block;
    }
}

.c-battigayo__header {
    text-align: center;

    .c-battigayo__header-image {
        margin: 0 0 18px 90px;
    }

    .c-battigayo__title {
        font-size: clamp(3.125rem, 8vw, 5.9375rem);
        font-family: $ff-primary-black;
        font-weight: normal;
        color: $c-white;
        display: inline-block;
        vertical-align: top;
        letter-spacing: -6px;
        line-height: 1;
        position: relative;
        z-index: 1;
        margin: 0 auto;
        max-width: min(970px, 100%);

        @media #{$tablet} {
            letter-spacing: -3.3px;
        }

        &:after {
            content: attr(title);
            position: absolute;
            top: 0;
            color: transparent;
            z-index: -1;
            display: inline-block;
            vertical-align: top;
            left: 0;
            transform: translate(5px, 5px) translateZ(0);
            backface-visibility: hidden;
            @include letter-stroke(rgba($c-primary, 0.5), 1px);

            @media #{$tablet} {
                transform: translate(3px, 3px) translateZ(0);
            }
        }
    }
}

.c-battigayo-intro {
    display: flex;
    justify-content: space-between;
    max-width: min(840px, 100%);
    margin: 0 auto;
    color: $c-white;
    padding: 42px 0;
    @media #{$phone} {
        flex-wrap: wrap;
        justify-content: center;
    }
    .c-battigayo-intro__content {
        width: calc(100% - 285px);
        padding-right: clamp(2.25rem, 5vw, 6.25rem);
        padding-top: clamp(2.25rem, 10vw, 5.625rem);
        @media #{$phone} {
            width: 100%;
            padding-right: 0;
        }
        p {
            &:not(:last-of-type) {
                margin-bottom: 30px;
            }
        }
    }
    .c-battigayo-intro__media {
        text-align: center;
    }

    .c-battigayo-intro__logo {
        margin-bottom: 33px;
    }
    .c-battigayo-intro__image {
        margin-bottom: 9px;
    }
    .c-battigayo-intro__name {
        color: $c-white;
        @include fsz(20px);
        font-family: $ff-primary-black;
        margin-bottom: 4px;
        font-weight: normal;
        line-height: 1;
    }
    .c-battigayo-intro__slogan {
        max-width: min(180px, 100%);
        margin: 0 auto;
        @include fsz(15px);
        @include line-height(15px, 17px);
    }
}

.c-battigayo-story {
    display: flex;
    justify-content: space-between;
    color: $c-white;
    padding: 90px 0;

    @media #{$phone} {
        flex-wrap: wrap;
    }

    .c-battigayo-story__title {
        font-size: clamp(3.125rem, 8vw, 5.9375rem);
        font-family: $ff-primary-black;
        font-weight: normal;
        color: $c-white;
        display: inline-block;
        vertical-align: top;
        letter-spacing: -6px;
        line-height: 1;
        position: relative;
        z-index: 1;
        margin: 18px auto 20px;
        width: 34.188%;
        @media #{$tablet} {
            letter-spacing: -3.3px;
        }
        @media #{$phone} {
            width: 100%;
            margin-bottom: 40px;
        }

        &:after {
            content: attr(title);
            position: absolute;
            top: 0;
            color: transparent;
            z-index: -1;
            display: inline-block;
            vertical-align: top;
            left: 0;
            transform: translate(5px, 5px) translateZ(0);
            backface-visibility: hidden;
            @include letter-stroke(rgba($c-primary, 0.5), 1px);

            @media #{$tablet} {
                transform: translate(3px, 3px) translateZ(0);
            }
        }
    }

    .c-battigayo-story__content {
        width: calc(100% - 34.188%);
        padding-left: clamp(2rem, 11vw, 9.375rem);
        @media #{$phone} {
            width: 100%;
            padding-left: 0;
        }
    }
}
