.c-logos-content {
    position: relative;
    z-index: 1;
    padding: 65px 0;
    
    @media #{$tablet} {
        padding: 60px 0 35px;
    }


    @media #{$phone} {
        padding: 40px 0 35px;
    }
    &.dark {
        background-color: $c-brand;
        color: $c-white;
    }

    &.light {
        background-color: $c-secondary;
        color: $c-brand;
    }

    .l-container {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        @media #{$tablet} {
            flex-direction: column-reverse;
        }
    }
}

.c-logos-content__col {
    width: calc(50% - 15px);

    @media #{$tablet} {
        width: 100%;
    }

    &.c-logos-content__col--centered {
        text-align: center;
        padding-top: 13px;
    }
    &:last-of-type {
        display: flex;
        justify-content: flex-end;
        @media #{$tablet} {
            justify-content: center;
            text-align: center;
        }
    }
}

.c-logos-content__logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -17px;

    > * {
        padding: 0 17px;
        margin-bottom: 12px;
    }
}

.c-logos-content__title {
    font-size: clamp(3.125rem, 8vw, 5.9375rem);
    font-family: $ff-primary-black;
    font-weight: normal;
    display: inline-block;
    vertical-align: top;
    letter-spacing: -6px;
    line-height: 1;
    position: relative;
    z-index: 1;
    max-width: min(445px, 100%);

    @media #{$tablet} {
        letter-spacing: -3.3px;
        margin-bottom: 40px;
    }
    .dark & {
        color: $c-white;
    }

    .light & {
        color: $c-brand;
    }

    &:after {
        content: attr(title);
        position: absolute;
        top: 0;
        color: transparent;
        z-index: -1;
        display: inline-block;
        vertical-align: top;
        left: 0;
        transform: translate(5px, 5px) translateZ(0);
        backface-visibility: hidden;
        @include letter-stroke(rgba($c-primary, 0.5), 1px);

        @media #{$tablet} {
            transform: translate(3px, 3px) translateZ(0);
        }
    }
}
