.c-hero {
    background-color: $c-secondary;
    &.c-hero--gutter-bottom {
        padding-bottom: 180px;
        .c-hero__description {
            max-width: 550px;
        }
    }
    .l-container {
        position: relative;
        z-index: 1;
        padding: 227px 20px 120px;

        @media #{$phone} {
            padding: 185px 20px 80px;
        }
    }

    .c-hero__badge {
        position: absolute !important;
        top: 73px;
        right: -15px;
        z-index: -1;
        transition: all 300ms ease;
        height: 200px;
        width: 200px;

        @media screen and (max-width: 1300px) {
            right: 20px;
        }

        @media #{$phone} {
            height: 150px;
            width: 150px;
            top: 83px;
            right: 30px;
        }
    }

    .c-hero__title {
        font-size: clamp(4.6875rem, 10vw, 7.5rem);
        font-family: $ff-primary-black;
        font-weight: normal;
        color: $c-brand;
        display: inline-block;
        vertical-align: top;
        line-height: 1;
        position: relative;
        z-index: 1;
        margin-bottom: clamp(25px, 5vw, 33px);
        width: 82.9%;
        letter-spacing: -0.437475rem;

        @media screen and (max-width: 1300px) {
            width: 68%;
        }

        @media #{$phone} {
            letter-spacing: -0.28125rem;

            max-width: min(316px, 100%);
            width: 100%;
        }

        &:after {
            content: attr(title);
            position: absolute;
            top: 0;
            color: transparent;
            z-index: -1;
            display: inline-block;
            vertical-align: top;
            left: 0;
            right: 0;
            transform: translate(5px, 5px) translateZ(0);
            backface-visibility: hidden;
            @include letter-stroke(rgba($c-primary, 0.75), 1px);

            @media #{$phone} {
                transform: translate(3px, 3px) translateZ(0);
            }
        }
    }

    .c-hero__description {
        max-width: 520px;
        width: 100%;
        letter-spacing: -0.4px;
        margin-bottom: 29px;
    }
}
.animating-div {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: seagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: inset(0% 0% 0% 100%);
  }
  
  .animating-content {
    width: 200px;
    height: 200px;
    background-color: skyblue;
    animation: ghumo 2s linear infinite;
  }
  
  @keyframes ghumo {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }