.c-highlight-block {
    position: relative;
    z-index: 1;
    background-color: #1c262e;
    padding: 67px 0 236px;

    @media #{$phone} {
        padding: 40px 0 194px;
    }

    &:after {
        content: "";
        background-image: url("../images/texture.png");
        background-repeat: repeat;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: block;
    }

    &.dark {
        background-color: $c-brand;
        color: $c-white;
    }

    &.light {
        background-color: $c-secondary;
        color: $c-brand;
    }
}

.c-highlight-card {
    background-color: #dd4a43;
    padding: 105px 40px 80px;
    text-align: center;
    box-shadow: 0 20px 100px -18px rgba($c-black, 0.5);
    border-radius: clamp(2.875rem, 8vw, 11.875rem) 0 clamp(3.875rem, 10vw, 11.875rem);
    @media #{$phone} {
        padding: 65px 30px 40px;
    }
    .c-highlight-card__title {
        font-size: clamp(3.125rem, 8vw, 5.9375rem);
        font-family: $ff-primary-black;
        font-weight: normal;
        letter-spacing: -6px;
        line-height: 1;
        position: relative;
        z-index: 1;
        margin-bottom: 16px;
        color: $c-tertiary;
        display: inline-block;
        vertical-align: top;

        @media #{$phone} {
            letter-spacing: -3.3px;
        }

        &:after {
            content: "";
            background-image: url("data:image/svg+xml,%0A%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.1647 13.7475L0 20.3294L6.58198 10.1647L0 0L10.1647 6.58198L20.3294 0L13.7475 10.1647L20.3294 20.3294L10.1647 13.7475Z' fill='%23FCF115'/%3E%3C/svg%3E%0A");
            position: relative;
            display: inline-block;
            vertical-align: top;
            margin-top: -9px;
            margin-left: 7px;
            height: 20px;
            width: 20px;
        }

        &:before {
            content: attr(title);
            position: absolute;
            top: 0;
            color: transparent;
            z-index: -1;
            display: inline-block;
            vertical-align: top;
            left: 0;
            transform: translate(5px, 5px) translateZ(0);
            backface-visibility: hidden;
            @include letter-stroke(rgba($c-white, 0.5), 1px);

            @media #{$tablet} {
                transform: translate(3px, 3px) translateZ(0);
            }
        }
    }

    .c-highlight-card__description {
        margin: 0 auto;
        max-width: min(570px, 100%);
    }
}
