.c-leadership {
  position: relative;
  z-index: 1;
  background-color: #1C262E;
  padding: 206px 0 130px;
  @media #{$phone} {
    padding-bottom: 80px;
  }

  &:after {
    content: "";
    background-image: url("../images/texture.png");
    background-repeat: repeat;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
  }

  .l-container {
    max-width: 1000px;
    padding-right: 60px;
    padding-left: 20px;

    @media #{$small-screen} {
      padding-right: 20px;
    }
  }

  .c-leadership__content {
    max-width: 560px;
    width: 100%;
    margin-bottom: 66px;
  }

  .c-leadership__title {
    font-size: clamp(3.125rem, 8vw, 5.9375rem);
    font-family: $ff-primary-black;
    font-weight: normal;
    display: inline-block;
    vertical-align: top;
    letter-spacing: -6px;
    line-height: 1;
    position: relative;
    z-index: 1;
    color: $c-white;
    margin-bottom: 36px;

    @media #{$phone} {
      letter-spacing: -3.3px;
    }

    &:after {
      content: attr(title);
      position: absolute;
      top: 0;
      color: transparent;
      z-index: -2;
      display: inline-block;
      vertical-align: top;
      left: 0;
      transform: translate(5px, 5px) translateZ(0);
      backface-visibility: hidden;
      @include letter-stroke(rgba($c-primary, 0.5), 1px);

      @media #{$phone} {
        transform: translate(3px, 3px) translateZ(0);
      }
    }
  }

  .c-leadership__description {
    color: $c-white;
  }

  .l-grid {
    margin: 0 -20px;
    align-items: stretch;
    @media #{$tablet} {
      margin: 0 -15px;
    }
  }
}

.l-grid__column {
  margin-bottom: 40px;
  width: 33.33%;
  padding: 0 20px;
  @media #{$tablet} {
    padding: 0 15px;
  }
  @media screen and (max-width: 767px) {
    width: 50%;
  }
  @media screen and (max-width: 480px) {
    width: 100%;
  }
}

.c-leadership-card {
  padding: 50px;
  position: relative;
  z-index: 1;
  height: 100%;
  text-align: center;

  @media #{$tablet} {
    padding: 40px 20px;
  }
  @media screen and (max-width: 480px) {
    max-width: 320px;
    margin: 0 auto;
  }

  &.c-leadership-card--outline {
    border: 1px solid #3d464d;
  }

  &.c-leadership-card--linked {
    &:hover,
    &:focus {
      &:after,
      &:before {
        height: 100%;
        width: 100%;
      }
    }
  }

  &:after,
  &:before {
    content: "";
    height: 10px;
    width: 10px;
    background-color: transparent;
    position: absolute;
    z-index: -1;
    display: block;
    border-color: #fcf113;
    border-style: solid;
    transition: height 400ms cubic-bezier(0.2, 1, 0.3, 1), width 400ms cubic-bezier(0.2, 1, 0.3, 1);
  }

  &:after {
    left: 0;
    top: 0;
    border-width: 2px 0 0 2px;
  }

  &:before {
    bottom: 0;
    right: 0;
    border-width: 0 2px 2px 0;
  }

  .c-leadership-card__image {
    max-width: 180px;
    border-radius: 50%;
    margin: 0 auto 19px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);

    @media #{$tablet} {
      max-width: 166px;
    }
  }

  .c-leadership-card__title {
    color: $c-white;
    @include fsz(24px);
    letter-spacing: -1px;
    margin-bottom: 2px;
    line-height: 1;
    font-weight: 500;

    @media #{$phone} {
      @include fsz(22px);
    }
  }

  .c-leadership-card__subTitle {
    color: $c-white;
    @include fsz(18px);
    letter-spacing: -.5px;
    margin-top: 8px;
    margin-bottom: 0;
    line-height: 1;
    opacity: .6;

    @media #{$phone} {
      @include fsz(16px);
      letter-spacing: -.2px;
    }
  }
}
