.c-mediabook {
    background-color: #dd4a43;
    position: relative;
    z-index: 1;
    padding: 100px 0 266px;
    text-align: center;
    @media #{$tablet} {
        padding-top: 160px;
    }
    @media #{$phone} {
        padding-bottom: 234px;
    }
}

.c-mediabook__logo {
    margin-bottom: 50px;

    @media #{$tablet} {
        margin-bottom: 30px;
    }
}

.c-mediabook__showcase {
    margin-bottom: 76px;

    @media #{$tablet} {
        margin-bottom: 50px;
    }

    @media #{$phone} {
        margin-bottom: 30px;
    }
}

.c-mediabook__title {
    font-size: clamp(3.125rem, 8vw, 5.9375rem);
    font-family: $ff-primary-black;
    font-weight: normal;
    color: $c-white;
    display: inline-block;
    vertical-align: top;
    letter-spacing: -6px;
    line-height: 1;
    position: relative;
    z-index: 1;
    margin: 18px auto 36px;
    max-width: min(640px, 100%);

    @media #{$phone} {
        letter-spacing: -3.3px;
    }
    &:after {
        content: attr(title);
        position: absolute;
        top: 0;
        color: transparent;
        z-index: -1;
        display: inline-block;
        vertical-align: top;
        left: 0;
        transform: translate(5px, 5px) translateZ(0);
        backface-visibility: hidden;
        @include letter-stroke(rgba($c-primary, 0.5), 1px);
        @media #{$phone} {
            transform: translate(3px, 3px) translateZ(0);
        }
    }
}
.c-mediabook__description {
    margin-bottom: 31px;
}

.c-mediabook__content {
    color: $c-white;
    max-width: min(770px, 100%);
    margin: 0 auto;
}

.c-mediabook__list {
    display: inline-block;
    list-style: none;
    text-align: left;
    margin: 0 auto;

    li {
        padding-left: 32px;
        position: relative;
        z-index: 1;
        @include fsz(15px);
        @include line-height(15px, 23px);
        &:not(:last-child) {
            margin-bottom: 10px;
        }

        .icon {
            height: 12px;
            width: 17px;
            position: absolute;
            top: 5px;
            left: 0;
        }
    }
}
