.c-our-client {
  background-color: transparent;
  position: relative;
  z-index: 1;
  margin-top: -130px;
  padding-bottom: 80px;

  @media #{$small-screen} {
    padding-bottom: 60px;
  }

  @media #{$phone} {
    margin-top: -250px;
  }

  .l-container {
    @media #{$tablet} {
      padding-left: 80px;
      padding-right: 0;
    }

    @media screen and (max-width: 480px) {
      padding-left: 40px;
      padding-right: 0;
    }
  }
}

.c-our-client__header {
  padding-right: 153px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;

  @media #{$tablet} {
    padding-right: 68px;
  }

  @media #{$phone} {
    padding-right: 48px;
    padding-top: 20px;
  }

  &:after {
    content: "";
    position: absolute;
    right: 65px;
    top: 0;
    bottom: -426px;
    z-index: -2;
    display: block;
    left: -999%;
    background-color: $c-brand;

    @media #{$tablet} {
      right: 20px;
    }
  }

  .c-our-client__header-content {
    max-width: 770px;
    width: 100%;
    padding: 42px 0 60px;
    position: relative;
    z-index: 1;

    @media #{$tablet} {
      max-width: 420px;
    }

    @media screen and (max-width: 768px) {
      max-width: 300px;
    }

    @media #{$phone} {
      padding-bottom: 35px;
    }

    &:after {
      content: "";
      left: 10px;
      bottom: 15px;
      width: 2px;
      background-color: $c-white;
      display: none;
      position: absolute;
      z-index: -1;
      height: 120px;

      @media screen and (max-width: 480px) {
        display: block;
      }
    }
  }

  .c-our-client__lead-text {
    @include fsz(14px);
    @include line-height(14px, 17px);
    @include letter-spacing(36, 14px);
    color: rgba($c-white, 0.5);
    font-family: $ff-primary-black;
    font-weight: normal;
    display: block;
    margin-bottom: 14px;
    text-transform: uppercase;
  }

  .c-our-client__title {
    font-size: clamp(3.125rem, 8vw, 5.9375rem);
    font-family: $ff-primary-black;
    font-weight: normal;
    color: $c-white;
    display: inline-block;
    vertical-align: top;
    letter-spacing: -6px;
    line-height: 1;
    position: relative;
    z-index: 1;
    margin-bottom: 0;

    @media #{$phone} {
      letter-spacing: -3.3px;
      max-width: min(264px, 100%);
    }

    &:before {
      content: "";
      width: 72px;
      background-color: transparent;
      right: calc(100% + 8px);
      border-width: 2px 0 2px 2px;
      border-style: solid;
      border-color: $c-white;
      display: block;
      position: absolute;
      top: 140px;
      bottom: -484px;

      @media #{$tablet} {
        top: 90px;
        width: 40px;
        bottom: -340px;
      }

      @media screen and (max-width: 480px) {
        display: none;
      }
    }

    &:after {
      content: attr(title);
      position: absolute;
      top: 0;
      color: transparent;
      z-index: -1;
      display: inline-block;
      vertical-align: top;
      left: 0;
      transform: translate(5px, 5px) translateZ(0);
      backface-visibility: hidden;
      @include letter-stroke(rgba(#5e8b95, 0.5), 1px);

      @media #{$phone} {
        transform: translate(3px, 3px) translateZ(0);
      }
    }
  }

  .c-our-client__description {
    color: $c-white;
    margin-top: 25px;
    margin-bottom: 0;
    font-size: clamp(1.25rem, 3vw, 2.375rem);
    letter-spacing: -1px;
    max-width: 485px;
    color: #C4E9FF;
    line-height: calc(45/38);

    @media screen and (max-width: 480px) {
      padding-left: 32px;
    }
  }

  .c-our-client__image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    z-index: -1;
    right: 110px;
    bottom: 0;

    @media #{$tablet} {
      right: 40px;
    }

    @media #{$phone} {
      bottom: -67px;
      right: 30px;
      opacity: .6;
      display: none;
    }

    img {
      max-height: 434px;

      @media #{$header} {
        max-height: 300px;
      }

      @media #{$phone} {
        max-height: 261px;
      }
    }
  }
}

.c-our-client__card {
  background-color: $c-white;
  box-shadow: 0 30px 60px rgba($c-black, 0.1);
  padding: 75px;
  position: relative;
  z-index: 2;

  @media #{$tablet} {
    padding: 60px 40px;
  }

  @media #{$phone} {
    padding: 40px 30px;
  }
}

.l-grid {
  display: flex;
  gap: 45px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width:1024px) {
    justify-content: center;
  }
}

.c-client {
  // width: 33.33%;
  // padding: 0 32px;
  // margin-bottom: 52px;

  // @media #{$tablet} {
  //   width: 50%;
  // }

  // &:last-child {
  //   @media #{$phone} {
  //     margin-bottom: 32px;
  //   }
  // }

  // @media #{$phone} {
  //   width: 100%;
  // }

  .c-client__logo {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
  }

  .c-client__description {
    @include fsz(15px);

    p {
      @media screen and (max-width: 640px) {
        margin-bottom: 24px;
      }
    }
  }
}

.c-our-client__intro {
  text-align: center;
  border-top: 1px solid rgba($c-brand, .25);
  position: relative;
  z-index: 1;
  padding: 40px 0 0;
  margin-top: 25px;

  &::after {
    content: '';
    position: absolute;
    top: 6px;
    border-top: 1px solid rgba($c-brand, .25);
    left: 0;
    right: 0;
    z-index: -1;

  }
}

.c-our-client__details {
  @include fsz(24px);
  letter-spacing: -0.64px;
  line-height: calc(35/24);
  max-width: 870px;
  width: 100%;
  margin: 0 auto 40px;

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}