.c-page-banner {
    background-color: $c-secondary;
    padding: 227px 0 40px;
    position: relative;
    z-index: 3;

    @media #{$phone} {
        padding: 185px 0 40px;
    }
    &.light {
        background-color: $c-secondary;
    }

    &.dark {
        background-color: $c-brand;
    }

    .c-page-banner__content {
        position: relative;
        z-index: 1;
        padding-left: 230px;

        @media #{$tablet} {
            padding-left: 180px;
        }

        @media screen and (max-width: 76px) {
            padding-left: 180px;
        }
        @media #{$phone} {
            padding-left: 0;
        }
    }
}

.c-page-banner__page-name {
    z-index: 1;
    text-transform: uppercase;
    @include fsz(14px);
    font-family: $ff-primary-black;
    color: rgba($c-brand, 1);
    position: absolute;
    left: 0;
    top: 44px;
    max-width: 200px;

    @media #{$small-screen} {
        left: 40px;
    }

    @media #{$tablet} {
        left: 20px;
        max-width: 160px;
    }

    @media #{$phone} {
        position: static;
        max-width: none;
    }

    .dark & {
        color: rgba($c-white, 0.5);
    }
}
.c-page-banner__title {
    font-size: clamp(4.1875rem, 10vw, 7.5rem);
    font-family: $ff-primary-black;
    font-weight: normal;
    color: $c-brand;
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    position: relative;
    z-index: 1;
    margin-bottom: 33px;
    max-width: 635px;
    width: 100%;
    letter-spacing: -0.437475rem;

    @media #{$phone} {
        letter-spacing: -0.28125rem;
    }

    .dark & {
        color: $c-white;
    }

    &:after {
        content: attr(title);
        position: absolute;
        top: 0;
        color: transparent;
        z-index: -1;
        display: inline-block;
        vertical-align: top;
        font-size: inherit;
        left: 0;
        transform: translate(5px, 5px) translateZ(0);
        backface-visibility: hidden;
        @include letter-stroke(rgba($c-primary, 0.75), 1px);

        @media #{$phone} {
            transform: translate(3px, 3px) translateZ(0);
        }
    }
}
