@mixin processArrowLong() {
  content: '';
  position: absolute;
  background-image: url('../images/process-arrow-1.svg');
  z-index: -1;
  height: 117px;
  width: 191px;
  display: block;
}

@mixin processArrowShort() {
  content: '';
  position: absolute;
  background-image: url('../images/process-arrow-2.svg');
  z-index: -1;
  height: 91px;
  width: 144px;
  display: block;
}

.c-process {
  padding: 0 0 118px;

  @media #{$tablet} {
    padding-bottom: 40px;
  }
}

.c-process__header {
  text-align: center;
  margin-bottom: 54px;
  @media #{$small-screen} {
    margin-bottom: 20px;
  }
}

.c-process__heading {
  font-size: clamp(3.125rem, 8vw, 5.9375rem);
  font-family: $ff-primary-black;
  font-weight: normal;
  display: inline-block;
  vertical-align: top;
  letter-spacing: -6px;
  line-height: 1;
  position: relative;
  z-index: 1;
  color: $c-brand;
  margin-bottom: 39px;

  @media screen and (max-width: 1023px) {

    margin-bottom: 90px;
  }
  @media #{$phone} {
    letter-spacing: -3.3px;
  }

  &:after {
    content: attr(title);
    position: absolute;
    top: 0;
    color: transparent;
    z-index: -2;
    display: inline-block;
    vertical-align: top;
    left: 0;
    transform: translate(5px, 5px) translateZ(0);
    backface-visibility: hidden;
    @include letter-stroke(rgba($c-primary, 1), 1px);

    @media #{$phone} {
      transform: translate(3px, 3px) translateZ(0);
    }
  }
}

.c-process__items {
  position: relative;
  z-index: 1;

  &:after {
    content: '';
    clear: both;
    display: table;
  }
}

.c-process__items {
  @media screen and (max-width: 1023px) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 0 -30px;
  }
}

.c-process__item {
  text-align: center;
  max-width: 256px;
  position: relative;
  z-index: 1;

  @media #{$small-screen} {
    transform: scale(.8);
    backface-visibility: hidden;
  }

  @media screen and (max-width: 1023px) {
    transform: scale(1);
    max-width: 100%;
    width: 33.33%;
    position: static !important;
    padding: 0 30px;
    float: none !important;
    margin: 0 0 60px !important;
  }

  @media #{$tablet} {
    width: 50%;
  }

  @media #{$phone} {
    width: 100%;
  }

  &:before {
    @media screen and (max-width: 1023px) {
      display: none !important;
    }
  }
}

.c-process__title {
  font-size: clamp(2.125rem, 6vw, 2.875rem);
  line-height: 1;
  font-family: $ff-primary-black;
  letter-spacing: -2px;
  color: $c-brand;
  font-weight: normal;
  margin-bottom: 16px;

  @media #{$phone} {
    letter-spacing: -1px;
  }
}

.c-process__description {
  letter-spacing: -0.38px;
}

.c-process__icon {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;

  img {
    max-width: 100%;
    width: auto;
  }
}

.c-process__item--one {
  float: left;
  margin-left: calc(50% - 128px);

  &:before {
    @include processArrowLong;
    left: calc(100% + 82px);
    top: 108px;
    transform: rotate(59deg);
  }
}

.c-process__item--two {
  float: right;
  margin-top: 280px;
  @media #{$small-screen} {

  }

  &:after {
    content: '';
    clear: both;
    display: table;
  }

  &:before {
    @include processArrowLong;
    right: 46px;
    top: calc(100% + 73px);
    transform: rotate(-213deg);
  }
}

.c-process__item--three {
  float: right;
  margin-top: 410px;

  &:before {
    @include processArrowShort;
    right: calc(100% + 38px);
    top: 195px;
    transform: rotate(-153deg);
  }
}

.c-process__item--four {
  float: right;
  margin-top: 418px;
  margin-right: 236px;
  @media #{$small-screen} {
    margin-right: 200px;
    margin-top: 378px;
  }

  &:before {
    @include processArrowShort;
    right: calc(100% - 25px);
    bottom: calc(100% + 8px);
    transform: rotate(-83deg);

    @media #{$small-screen} {
      right: calc(100% - 79px);
      transform: rotate(-73deg);
      bottom: calc(100% + 28px);
    }
  }
}

.c-process__item--five {
  float: left;
  position: absolute;
  top: 285px;
  left: 0;
  z-index: 1;

  &:before {
    @include processArrowLong;
    left: 195px;
    bottom: calc(100% + 67px);
    transform: rotate(-6deg);
  }
}

.c-process__highlight {
  max-width: 419px;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  backface-visibility: hidden;
  text-align: center;
  z-index: 1;
  top: 629px;

  @media screen and (max-width: 1023px) {
    position: static;
    transform: none;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    text-align: center;
  }

  .c-process__highlight-background {
    position: absolute;
    z-index: -1;
    transform: translateX(-50%);
    top: -64px;
    max-width: 498px;
    @media #{$phone} {
      width: 100%;
    }
    @media screen and (max-width: 520px) {
      width: auto;
    }

    @media screen and (max-width: 480px) {
      width: 580px;
      max-width: none;
    }
  }
}

.c-process__highlight-title {
  font-size: clamp(2.625rem, 6vw, 2.875rem);
  line-height: 1;
  font-family: $ff-primary;
  letter-spacing: -2px;
  color: $c-brand;
  font-weight: normal;

  @media screen and (max-width: 1023px) {
    max-width: 419px;
    width: 100%;
    margin: 0 auto 120px;
  }

  @media #{$phone} {
    letter-spacing: -1px;
    margin: 0 auto 160px;
    padding: 0 30px;
  }

}
