.c-quote {
    position: relative;
    z-index: 1;
    background-color: #1c262e;
    padding: 66px 0;
    text-align: center;

    &:after {
        content: "";
        background-image: url("../images/texture.png");
        background-repeat: repeat;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: block;
    }

    &.dark {
        background-color: $c-brand;
        color: $c-white;
    }

    &.light {
        background-color: $c-secondary;
        color: $c-brand;
    }

    .l-container {
        border-width: 4px 0;
        border-style: solid;
        border-color: rgba($c-white, 0.09);
        padding: 102px 24px 77px;
        max-width: 1170px;

        @media #{$phone} {
            padding: 72px 20px 37px;
        }
    }
}

.c-quote__blockquote {
    font-size: clamp(1.5rem, 4vw, 2.375rem);
    letter-spacing: -1px;
    @include line-height(38px, 55px);
    font-family: $ff-primary-black;
    padding: 0;
    font-style: normal;
    border: none;
    display: inline-block;
    vertical-align: top;
    margin: 0 auto clamp(1.3125rem, 8vw, 2.1875rem);
    max-width: min(720px, 100%);
    @media #{$phone} {
        letter-spacing: -0.5px;
    }

    &:after,
    &:before {
        display: inline-block;
        vertical-align: bottom;
        color: #f96969;
        font-size: clamp(2.5rem, 7vw, 3.75rem);
        position: relative;
        @include line-height(60px, 55px);
    }

    &:before {
        content: "“";
        margin-right: 9px;
    }

    &:after {
        content: "”";
        margin-left: 8px;
    }
}

.c-quote__meta {
    .c-quote__user {
        @include fsz(20px);
        letter-spacing: -0.5px;
        font-style: normal;
    }
    .c-quote__designation {
        @include fsz(14px);
        font-family: $ff-primary-black;
        letter-spacing: 0.5px;
        text-transform: uppercase;

        .dark & {
            color: rgba($c-white, 0.5);
        }
        .light & {
            color: rgba($c-brand, 0.5);
        }
    }
}
