.c-responsive-showcase {
    position: relative;
    z-index: 1;

    &.dark {
        background-color: $c-brand;
        color: $c-white;
    }

    &.light {
        background-color: $c-secondary;
        color: $c-brand;
    }

    .l-container {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media #{$phone} {
            flex-wrap: wrap;
        }
    }
}
.c-responsive-showcase__title {
    font-size: clamp(3.125rem, 8vw, 5.9375rem);
    font-family: $ff-primary-black;
    font-weight: normal;
    display: inline-block;
    vertical-align: top;
    letter-spacing: -6px;
    line-height: 1;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: min(445px, 100%);

    @media #{$small-screen} {
        padding-right: 30px;
    }

    @media #{$tablet} {
        letter-spacing: -3.3px;
    }
    @media #{$phone } {
        width: 100%;
        text-align: center;
        padding-right: 0;
        margin-bottom: 30px;
    }

    .dark & {
        color: $c-white;
    }

    .light & {
        color: $c-brand;
    }

    &:after {
        content: attr(title);
        position: absolute;
        top: 0;
        color: transparent;
        z-index: -1;
        display: inline-block;
        vertical-align: top;
        left: 0;
        transform: translate(5px, 5px) translateZ(0);
        backface-visibility: hidden;
        @include letter-stroke(rgba($c-primary, 0.5), 1px);
        @media #{$small-screen} {
            right: 30px;
        }
        @media #{$tablet} {
            transform: translate(3px, 3px) translateZ(0);
        }
        @media #{$phone} {
            right: 0;
        }
    }
}
