

.c-strategy {
  padding: 120px 0;
}

.c-strategy__card {
  background-color: $c-white;
  padding: 80px 140px 120px 0;
  position: relative;
  z-index: 1;

  &:after {
    content: '';
    background-color: $c-white;
    left: -9999px;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    position: absolute;
    z-index: -1;
    box-shadow: 0 30px 60px rgba($c-black, .1);
  }
}

.c-strategy__header {
  max-width: 600px;
  width: 100%;
  margin-bottom: 60px;
}

.c-strategy__title {
  font-size: clamp(3.125rem, 8vw, 5.9375rem);
  font-family: $ff-primary-black;
  font-weight: normal;
  display: inline-block;
  vertical-align: top;
  letter-spacing: -6px;
  line-height: 1;
  position: relative;
  z-index: 1;
  color: $c-brand;
  margin-bottom: 39px;

  @media #{$phone} {
    letter-spacing: -3.3px;
  }

  &:after {
    content: attr(title);
    position: absolute;
    top: 0;
    color: transparent;
    z-index: -2;
    display: inline-block;
    vertical-align: top;
    left: 0;
    transform: translate(5px, 5px) translateZ(0);
    backface-visibility: hidden;
    @include letter-stroke(rgba($c-primary, 1), 1px);

    @media #{$phone} {
      transform: translate(3px, 3px) translateZ(0);
    }
  }
}

.c-strategy__subtitle {
  font-size: clamp(2.125rem, 6vw, 2.875rem);
  line-height: 1;
  font-family: $ff-primary;
  letter-spacing: -2px;
  color: $c-brand;
  font-weight: normal;
  margin-bottom: 35px;

  @media #{$phone} {
    letter-spacing: -1px;
    margin-bottom: 30px;
  }
}

.c-strategy__body {
  padding-right: 120px;
  @include fsz(26px);
  letter-spacing: -0.5px;
  line-height: 1.61;
  position: relative;
  z-index: 1;

  p {
    margin-bottom: 25px;
  }
}

.c-strategy__illustration {
  position: absolute;
  z-index: -1;
  right: -60px;
  bottom: calc(100% - 161px);

  &:before {
    content: '';
    z-index: -2;
    position: absolute;
    bottom: 0;
    left: 0;
    right: -9999px;
    top: calc(100% - 2px);
    background-color: $c-primary;
    display: block;
    height: 400px;
  }

  &:after {
    @include pattern;
    height: 400px;
    top: calc(100% - 2px);
  }
}

.c-strategy__additional {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.c-strategy__additional-media {
  max-width: 600px;
  float: right;
  margin: 0 -440px 0 115px;
}
